img{
  width: 100%;
}

body{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid{
  width: 80vw;
  height: 80vh;
}

.grid-item{
  /* aspect-ratio: attr(width) / attr(height); */
  margin: 0.5rem;
}

.grid-item-container{
  width: fit-content;
}

.grid-sizer{
  width: 1%;
}

.stamp{
  background: red;
  position: absolute;
  left:20%;
  top: 5%;
  width: 30%;
  height: 20%;
}

