img{
  max-width: 100%;
}

body{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid{
  width: 90vw;
  height: 90vh;
}

.grid-item{
  float: left;

  height: fit-content;
}

.grid-sizer{
  width: 1%;
}

.grid-item-width1{
  width: 15%;
}
 
.grid-item-width2{
  width: 20%;
  /* height: 40vh; */
}
.grid-item-width3{
  width: 25%;
  /* height: 50vh; */
}

.grid-item-width4{
  width: 30%;
}

/* .grid {
  max-width: 1200px;
  margin: 0 auto;
}
clearfix
.grid:after {
  content: "";
  display: block;
  clear: both;
}
.grid-sizer,
.grid-item {
  background-color: red;
  border: 1px solid darkred;
  width: 33.33%;
  padding: 8px;
}
2 columns wide
.grid-item--width2 {
  width: 66.66%;
} */

