.image-tall{
  max-height: 100%;
}

.image-wide{
  max-width: 100%;
}

.grid{
  width: 100vw;
  height: 100vh;
  padding: 2rem;
}

.grid-item{
  /* aspect-ratio: attr(width) / attr(height); */

  margin-bottom: 10px;
}

.grid-sizer{
  width: 1%;
}


/* .grid {
  max-width: 1200px;
  margin: 0 auto;
}
clearfix
.grid:after {
  content: "";
  display: block;
  clear: both;
}
.grid-sizer,
.grid-item {
  background-color: red;
  border: 1px solid darkred;
  width: 33.33%;
  padding: 8px;
}
2 columns wide
.grid-item--width2 {
  width: 66.66%;
} */

